{% extends '1_base.html' %} {% block content %}
<!-- Hero Section -->
<section id="hero">
    <!-- Flex container -->
    <div
        class="container flex justify-end flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2 items-end">
            <h1 class="max-w-full text-4xl font-bold text-center md:text-5xl md:text-right pt-40 pr-10">
                CSI STUDENT'S CHAPTER
            </h1>
            <p class="max-w-full text-3xl text-center text-darkGrayishBlue md:text-center pt-24 pr-10">
                “Engineers solve problems.
                <br>
                If there are no problems handily available,
                they will create their own problems.”
            </p>
        </div>
    </div>
</section>
{% endblock %}